/* Sponsor Carousel */
#sponsorCarousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.sponsor-logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.sponsor-logo.fade-in {
  opacity: 1;
}

/* Overlays */
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-box {
    background-color: #1f2937; /* gray-800 */
    padding: 2.5rem;
    border-radius: 1rem; /* rounded-2xl */
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* shadow-2xl */
    text-align: center;
}
