#pauseContent {
    position: relative;
}

.sponsor-logo, .main-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.sponsor-logo.fade-in, .main-logo.fade-in {
    opacity: 1;
}
