.save-game-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.delete-save-button {
    background-color: #ef4444; /* bg-bingo-red */
    color: white;
    padding: 0.75rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-in-out;
}

.delete-save-button:hover {
    background-color: #dc2626; /* darker red */
    transform: scale(1.05);
}
