@import "./output.css";
@import "./fonts.css";

html, body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.menu-button {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 0.75rem; /* rounded-xl */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    transition: all 0.2s ease-in-out;
}

.menu-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); /* shadow-xl */
}

.menu-button-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid #4b5563; /* gray-600 */
    color: #9ca3af; /* gray-400 */
    border-radius: 0.75rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.menu-button-secondary:hover {
    background-color: #4b5563;
    color: white;
}
